br.clear { display: block; clear: both; overflow: hidden; }
#agenda-topo {margin-bottom: 20px; overflow: hidden;}
#agenda-bottom { margin: 0 0 20px; }
.message.error {
    background: #FFDDDD;
    border-radius: 5px;
    border: 1px solid #AF3F3F;
    padding: 5px;
    color: #AF3F3F;
}

.box-topo-left .image2{ 
    position: relative;
    top: -70px;
}

.box-topo-left{ 
    float: left; 
    padding: 0 0 0 80px;
}

.agenda-more-info{
    margin-top: 30px;
}

.agenda-more-info a{
    text-decoration: none;
    font-size: 18px;
    color: #22355d;
}

.agenda-more-info a:hover{
    text-decoration: underline;
}

.box-topo,
.agenda-more-info{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: #22355d;
    -webkit-font-smoothing: antialiased;
    text-shadow: #22355d 0px 0px .5px;
}

.box-bottom-left {
    border-radius: 10px;
    margin-top: 5px;
    background: #22355d;
    box-shadow: 3px 3px 5px gray;
    padding: 45px 0;
    margin: 30px 0 0;
}

.box-bottom-left p {
    margin-left: 90px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    text-shadow: #22355d 0px 0px .5px;
}

.box-bottom-left ul li{
    text-align: left;
    line-height: 15px;
    margin-left: 55px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    margin-top: 5px;
    -webkit-font-smoothing: antialiased;
    text-shadow: #22355d 0px 0px .5px;
}

.box-bottom-right {
    margin: 0 auto;
    width: 75%;
}

::-webkit-input-placeholder {
   color: #22355d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #22355d;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #22355d;  
}

:-ms-input-placeholder {  
   color: #22355d;  
}

.box-bottom-right form h3 {
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    float: left;
    clear: both;
    display: block;
    width: 100%;
    color: #22355d;
    text-shadow: #22355d 0px 0px .5px;
    margin-bottom: 0;
}

.box-bottom-right form input[type=submit] {
    float: right;
    margin-right: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    background: #22355d;
    border-radius: 5px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
}

.box-bottom-right form input.txtBox.error,
.box-bottom-right form select.txtBox.error {
    background: #FFE5E5;
    box-shadow: 3px 3px 5px #ACACAC inset;
}

.box-bottom-right form input.txtBox,
.box-bottom-right form select.txtBox {
    background: #ddd482;
    height: 27px;
    color: #22355d;
    border: none;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    padding: 0 10px;
    box-shadow: 3px 3px 5px #8e8954 inset;
}

.box-bottom-right form .form-item {
    float: left;
    margin: 0 25px 10px 0;
}
.box-bottom-right form .form-item.select {
    float: left;
    margin: 0 5px 10px 0;
}
    
.box-bottom-right form .form-item.size10 {
    width: 100%;
}

.box-bottom-right form .form-item.size9 {
    width: 90%;
}

.box-bottom-right form .form-item.size8 {
    width: 80%;
}

.box-bottom-right form .form-item.size7 {
    width: 70%;
}

.box-bottom-right form .form-item.size67 {
    width: 67%;
}

.box-bottom-right form .form-item.size6 {
    width: 60%;
}

.box-bottom-right form .form-item.size55 {
    width: 55%;
}

.box-bottom-right form .form-item.size5 {
    width: 50%;
}

.box-bottom-right form .form-item.size45 {
    width: 45%;
}

.box-bottom-right form .form-item.size4 {
    width: 40%;
}

.box-bottom-right form .form-item.size39 {
    width: 39%;
}

.box-bottom-right form .form-item.size3 {
    width: 30%;
}

.box-bottom-right form .form-item.size27 {
    width: 27%;
}

.box-bottom-right form .form-item.size25 {
    width: 25%;
}

.box-bottom-right form .form-item.size2 {
    width: 20%;
}

.box-bottom-right form .form-item.size15 {
    width: 15%;
}
.box-bottom-right form .form-item.size1 {
    width: 10%;
}

.tooltip {
    position: absolute;
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
    background: white;
    z-index: 10;
    max-width: 500px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 3px;
    padding: 3px;
    top: 30px;
    min-width: 180px;
}

.slogan {
    padding: 25px 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: #22355d;
    -webkit-font-smoothing: antialiased;
    text-shadow: #22355d 0px 0px .5px;
}
.slogan img{
    float: left;
    margin: -25px 15px 0 0;
}